body {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 16px;
    margin: 0;
    background-image: url(/img/backgroundcss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#title {
    position: sticky;
    top: 0px;
    width: 100%;
    color: rgb(81, 81, 81); /* Text color */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    z-index: 99999;
}

.topImg{
    max-width: 5vw;
    max-height: 5vw;
}

#body-text{
    display: flex;
    color: white;
    font-size: 20px;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    font-family: 'Sanchez', 'serif';
}
.intro{
    display: flex;
    color: black;
    font-size: 20px;
    justify-content: left;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vw;
    padding: 1vw;
    border-top: solid #ccc;
    border-bottom: solid #ccc;
}
/* ALL event*/
.event {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin: 1vw;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.709);
    border-top: solid #ccc;
    border-bottom: solid #ccc;
    font-family: 'Sanchez', 'serif';
    justify-content: space-between;
    position: relative;
}

.event-tickets {
    position: absolute;
    bottom: 10px;
    right: 10px; 
    background-color: darkslategray;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.event-tickets:hover {
    background-color: rgb(0, 72, 0);
}


.event strong {
    font-size: 22px;
}

.event em {
    color: #8d8d8d;
}

.event-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;

}

.event-description {
    color: #fff; 
    font-size: 12px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.event-repertoire{
    color: #fff; 
    font-size: 12px;
    margin-left: 2vw;
    margin-right: 2vw;
}
.event p {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

@media query and (max-width: 600px) {
    #title {
        position: sticky;
        top: 0px;
        width: 100%;
        color: rgb(178, 36, 36); /* Text color */
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Tilt Neon', sans-serif;
        font-size: 16px;
        background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
        z-index: 99999;
    }
    .event-column {
        flex-direction: column;
    }
    .event{
        flex-wrap: wrap;
    }
}